.root {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
}

.tables {
  display: flex;
  margin-bottom: 20px;

  table:not(:last-child) {
    margin-right: 50px;
  }
}

.results > table:not(:last-child) {
  margin-bottom: 20px;
}

.resultRow {
  height: 16px;
}
